<h1>App Landing Page</h1>
<% link_a = [] %>
<% @object.each do |article| %>
  <% link = "http//:www.espn.com" + article['href'].to_s %>
  <% link_a.push(link) %>
<% end %>

<% @object.each do |line| %>
  <li><%= line.text %>
    <% link = "www.espn.com" + line['href'].to_s %>
    <%= link_to link do %>
      <%= "[Click here for Article]" %>
    <% end %>
  </li>
<% end %>
